@import "ui.scss";

//====================================================================================================================================================================================================================================================================
.header {
	height: 134px;
	padding: 42px 0px;

	// .header__container

	&__container {}

	// .header__body

	&__body {
		display: grid;
		grid-template-rows: 1fr;
		grid-auto-flow: column;
		align-items: center;

		@media (max-width: 992px) {
			grid-template-columns: 1fr 1fr;
		}
	}

	// .header__logo

	&__logo {}

	// .header__burger

	&__burger {
		@media (max-width: 992px) {
			justify-self: end;
		}
	}

	// .header__menu

	&__menu {
		display: grid;
		grid-auto-flow: column;
		//justify-content: space-between;
		align-items: center;
	}
}

.menu-header {

	// .menu-header__list

	&__list {
		display: grid;
		grid-auto-flow: column;
		align-items: center;

		li {
			&:not(:last-child) {
				margin: 0px 74px 0px 0px;
			}
		}
	}

	// .menu-header__link

	&__link {
		font-weight: 400;
		font-size: 16px;
		line-height: 160%;
		color: #333333;
		transition: all 0.8s ease 0s;

		&:hover {
			transition: all 0.8s ease 0s;
			color: rgb(201, 135, 13);
		}
	}

	// .menu-header__button

	&__button {
		background-color: #2C3878;
		border: 1px solid #3c3c3c;
		justify-self: end;
		font-weight: 500;
		font-size: 14px;
		line-height: 150%;
		color: #FFFFFF;

	}
}




//Бургер

@media (max-width: 992px) {
	.header__menu {
		position: fixed;
		top: 0;
		left: -100%;
		width: 100%;
		height: 100%;
		background-color: #967;
		text-align: center;
		display: grid;
		grid-auto-flow: row;
		justify-content: center;
		padding: 100px 0px 0px 0px;
		overflow: auto;
		z-index: 5;
	}

	.header__menu.active {
		left: 0;
	}

	.menu-header__button {
		justify-self: center;
		margin: 20px 0px 0px 0px;
	}

	.menu-header__list {
		grid-auto-flow: row;

		li {
			&:not(:last-child) {
				margin: 0px 0px 40px 0px;
			}
		}
	}

	.header__logo {
		position: relative;
		z-index: 6;
	}
}